@import "../abstract/variables";

.apresentacoes-section{
    .apresentacoes-lista {
        .lista {
            margin-bottom: 3.5rem;
    
            .date {
                color: $gray-5;
            }
        
            .item {
                @include flex-justify(space-between);
        
                p {
                    color: $gray-7;
                    padding-right: 2rem;        
                    
                }
            }
        
            hr {
                @include border($gray-3);
                
                margin: 1rem 0;
            }
        }
    }
    
    @media (min-width: 620px) {
        @include flex-column-align-i(center);
    }

    .apresentacoes-div {
        @media (min-width: 950px) {
            width: 52rem;
        }
    }
}