@import "../abstract/variables";

.apresentacoes-lista {
    .lista {
        margin-bottom: 2.5rem;

        .date {
            color: $gray;
        }
    
        .item {
            @include flex-justify(space-between);
    
            p {
                color: $gray-2;
                padding-right: 2rem;
            }
        }
    
        hr {
            border: 1px solid $gray-3;
            margin: 1rem 0;
        }
    }
}

@media (min-width: 620px) {
    .apresentacoes-section {
        @include flex-column-align-i(center);
    }
}