@import "../abstract/variables";

.central-section {
    @include flex-column-justify(center);

    .tabela {
        width: 100%;
        overflow-x: scroll;

        table {
            border-collapse: collapse;

            thead {
                @include text-color-size-weight($light-color, 1.18rem, $fw-bold);

                background-color: $primary-color;
                height: 2rem;
                
                th {
                    padding: 0 0.5rem;
                    border: none;                   

                    &:first-child {
                        text-align: left;
                        padding-right: 1rem;  
                    }

                    &:not(:first-child) {
                        padding: 0 2rem;
                    }
                }
            }

            tbody {
                td {
                    padding: 1rem 0;
                    border-bottom: 1px solid $gray-2;
                }
            }

            td {
                white-space: nowrap;

                &:first-child {
                    padding-right: 1rem;
                }

                &:not(:first-child) {
                    text-align: center;
                }
            }
            
            
        }
    }
    
    .clique-aqui {
        display: inline-flex;
        align-items: flex-start;
        padding-top: 2rem;

        img {
            padding-right: 0.5rem;
        }
    }

    @media (min-width: 620px) {
        @include flex-align-i(center);
    }
}