@import "../abstract/variables";

.central-section {
    @include flex-column-justify(center);

    .tabela {
        overflow-x: scroll;
        width: 100%;

        table {
            border-collapse: collapse;

            thead {
                background-color: $primary-color;
                color: $light-color;
                font-weight: $fw-bold;
                font-size: 1.18rem;
                height: 2rem;
    
                th {
                    border: none;
                    padding: 0 0.5rem;

                    &:first-child {
                        padding-right: 1rem;
                        text-align: left;
                    }

                    &:not(:first-child) {
                        padding: 0 2rem;
                    }
                }
            }

            tbody {
                td {
                    padding: 1rem 0;
                    border-bottom: 1px solid $gray-6;
                }
            }

            td {
                white-space: nowrap;

                &:first-child {
                    padding-right: 1rem;
                }

                &:not(:first-child) {
                    padding: 0 2rem;
                    text-align: center;
                }
            }
            
            
        }
    }
    
    .clique-aqui {
        display: inline-flex;
        align-items: flex-start;
        padding-top: 2rem;

        img {
            padding-right: 0.5rem;
        }
    }

}

@media (min-width: 620px) {
    .central-section {
        @include flex-align-i(center);
    }
}