@import "../abstract/variables";

.container-banner {
  position: relative;
}

.banner {
  @include flex-justify-align-i(center, flex-start);

  img {
    width: 92%; 
    border-radius: 0.25rem 0 0 0.25rem;
    z-index: 2;
  }
}

.banner::before {
  @include size-w-h(100%, 70%);

  background-color: $primary-color;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.textura-bullet {
  width: 58%;
}

@media (min-width: 620px) {
  .banner {
    justify-content: flex-end;
  }

  .textura-bullet {
    width: 30%;
  }
}
