@import "../abstract/variables";

.esg-section {
    .esg-div {
        .intro {
            @include flex-column-padding-gap(0 0 4.5rem 0, 4rem); 

            .intro-text {
                @include flex-column-padding-gap(0 1.53rem, 1.5rem);
                color: $gray-2;
                line-height: 1.5rem;
            }

            .intro-milhoes {
                @include flex-column-align-i(center);
                text-align: center;
                gap: 1.5rem;

                div {
                    p {
                        &:first-child {
                            @include text-color-size($primary-color, 1.8175rem);
                            font-weight: $fw-bold;
                            span {
                                @include text-color-size($secondary-color, 3.5rem);
                            }
                        }
                        &:not(:first-child) {
                            color: $gray-2;
                        }
                    }
                }
            }
        }
    }
}

