@import "../abstract/variables";

footer {
    @include flex-column-justify-align-i(space-between, center);
    background-color: $primary-color;
    padding: 1rem;
    min-height: 9.5rem;

    .copyright {
        @include text-color-size-weight($secondary-color, 0.875rem, $fw-bold);
    }
    
    p {
        color: $light-color;
        font-weight: $fw-light;
    }

    a {
        color: $secondary-color;
        font-weight: $fw-bold;
    }

    div {
        @include flex-justify-align-i(space-between, center);
        text-align: center;
        min-width: 11rem;
    }

    .separador {
        padding: 0.5rem 0.5rem;
    }

    @media(min-width: 620px) {
        @include grid-template-columns(auto auto);
        text-align: center;
        justify-content: space-around;
    }

    @media (min-width: 950px) {
        grid-template-columns: auto auto auto auto;

    }
}

