@import "../abstract/variables";

header {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
.cotacao-acess{
    display: flex;
    gap: 2rem
}

.acess {
    display: none;
}

.cotacao {
    display: none;//por enquanto
}

.header-icons {
    display: flex;
    width: 25.8%;
    align-items: center;
    justify-content: space-between;

    img {
        height: 1.25rem;
        
    }

    .eua {
        display: none;//por enquanto
    }

    div {
        cursor: pointer;
    }
}

.icon-burger {
    span {
        background-color: $secondary-color;
        display: block;
        width: 1.7rem;
        height: 0.2rem;
        margin: 0.3rem auto;
        transition: all 0.3s ease-in-out;
    }
    
    &.active span {
        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(1) {
            transform: translateY(0.5rem) rotate(45deg); 
        }

        &:nth-child(3) {
            transform: translateY(-0.5rem) rotate(-45deg);
        }
    }    
}

@media (min-width: 620px) {
    .cotacao {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-width: 19rem;
        p {
            color: $light-color;
            font-weight: $fw-bold;
            span {
                color: $secondary-color;
            }
        }
    }
    .header-icons { //por enquanto
        .eua {
            display: block;
        }

        .search {
            display: block;
        }
    }
}

@media (min-width: 950px) {
    .acess {
        color: $light-color;
        display: flex;
        flex-direction: row;
        min-width: 12rem;
        justify-content: space-between;
        align-items: center;
    }
}

