@import "../abstract/variables";

header {
  background-color: $primary-color;
  @include flex-justify-align-i(space-between, center);
  padding: 1.5rem 1rem;

  .cotacao-acess {
    @include flex-justify(space-evenly);
    width: 100%;
    gap: 2rem;

    .acess {
      display: none;
    }

    .cotacao {
      display: none;
    }
  }

  .header-icons {
    @include flex-justify-align-i(space-between, center);
    width: 10rem;

    img {
      height: 1.25rem;
    }

    .eua {
      display: none;
    }

    .search {
      display: none;
    }

    div {
      cursor: pointer;
    }

    .icon-burger {
      span {
        background-color: $secondary-color;
        display: block;
        width: 1.7rem;
        height: 0.2rem;
        margin: 0.3rem auto;
        transition: all 0.3s ease-in-out;
      }

      &.active span {
        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          transform: translateY(0.5rem) rotate(45deg);
        }

        &:nth-child(3) {
          transform: translateY(-0.5rem) rotate(-45deg);
        }
      }
    }
  }

  @media (min-width: 620px) {
    padding: 1.5rem 2rem;

    .cotacao-acess {
      .cotacao {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        min-width: 19rem;
    }
    
      p {
        color: $light-color;
        font-weight: $fw-bold;

        span {
          color: $secondary-color;
        }
      }
    }

    .header-icons {
      width: 36%;

      .eua {
        display: block;
      }

      .search {
        display: block;
      }
    }
  }

  @media (min-width: 950px) {
    .header-icons {
      width: 17rem;
    }

    .cotacao-acess {
      .acess {
        color: $light-color;
        @include flex-justify-align-i(space-between, center);
        flex-direction: row;
        min-width: 12rem;
      }
    }
  }
}
