@import "../abstract/variables";

.home-investidores {
   h3 {
      @include text-color-size($primary-color, 1.8rem);
  }

   h5 {
      @include text-color-size($primary-color, 1.5rem);
   }

   .central {
      @include flex-column-justify-align-i(space-between, center);

      .t21 {
         @include flex-align-i(center);

         padding: 1.5rem 0 2.5rem 0;

         h5 {
            padding: 0 2rem;
         }
      }

      .resultados {
         @include grid-template-columns(repeat(2, 1fr));

         gap: 1rem;

         div {
            @include flex-column-align-i(center);

            text-align: center; 
            width: 10.8rem; 

            img {
               width: 3.2rem;
            }
         }
      }
   }

   .calendario {
      @include flex-column-justify-align-i(space-between, center);

      h6 {
         @include text-color-size($primary-color, 1rem);
     }
   }

   a {
      color: $primary-color;
      padding: 2.75rem 0 4.5rem;
   }

   .eventos {
      padding-top: 2.5rem;

      .texto {
         color: $gray-7;
      }

      .hora {
         @include text-color-size($gray-5, 0.875rem); //
      }

      .evento {
         padding: 1rem 0 0.5rem 0;

         img {
            padding-right: 1rem;
         } 
      }

      hr {
         @include border($gray-3);
      }
   }


   @media (min-width: 280px) and (max-width: 396px) {
      padding: 1.5rem;

      .central  {
         .resultados {
            @include flex-column;
         }
      }
   }


   @media (min-width: 620px) {
      .central {
         .resultados {
            grid-template-columns: repeat(3, 1fr);
         }
      }
   }

   @media (min-width: 740px) {
      .central {
         .resultados {
            gap: 4rem;
         }
      }
   }

   @media(min-width: 950px) {
      @include grid-template-columns( 1fr 1fr);
      padding: 0 1rem;
      gap: 2rem;

      .central {
         .resultados {
            gap: 1rem
         }
      }
 
      .calendario {
         padding: 0 0;
      }
   }
}
