@import "../abstract/variables";

.home-bb {
  background-color: $primary-color;
  img {
    max-width: 100%;
  }

  .home-banner {
    @include flex-column-justify(space-between);
    background: url(./../images/banner-vr.png) top no-repeat;
    background-size: cover;
    height: 27.75rem;
    padding: 5.5rem 0 0 1rem;

    .home-banner-2 {
      @include flex-column-justify(space-between);
      height: 100%;

      .box-info {
        @include flex-column-justify-align-i(space-between, center);
        height: 12.875rem;
        text-align: center;
        text-shadow: 1rem 1rem 1rem $primary-color;

        h2 {
          color: $light-color;

          span {
            color: $secondary-color;
            font-weight: $fw-light;
          }
        }

        button {
          @include text-color-size-weight($light-color, 1.25rem, $fw-bold);
          background-color: transparent;
          padding: 0.5rem 1rem;
          border: 1px solid $light-color;
          border-radius: 0.125rem;
        }
      }
    }

    .visual-components {
      position: relative;
      z-index: 1;

      .bullet-select {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }

  hr {
    border: 0.25rem solid $secondary-color;
  }

  .atalhos {
    @include grid-template-columns(1fr 0fr);
    gap: 1.5rem;
    padding: 5rem 1rem;
    justify-items: center;

    div {
      background-color: $secondary-color;
      @include flex-column-justify-align-i(center, center);
      @include size-w-h(10.75rem, 8rem);
      text-align: center;
      gap: 0.75rem;
      border-radius: 0.25rem;

      img {
        max-width: 3.75rem;
      }
    }
  }

  .arrows {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 396px) {
  .home-bb {
    .atalhos {
      @include flex-column-align-i(center);
      padding: inherit;
      padding: 5rem 0;
    }
  }
}

@media (min-width: 620px) {
  .home-bb {
      /*.visual-components {
        .bullet-select {
          @include flex-column-align(center);
          flex-wrap: wrap;
          gap: 0.9rem;
          top: -179%;
          left: 89%;
        }

        .arrows {
          display: inline-flex;
          justify-content: space-between;
          width: 4rem;
        }
      }*/
    /*}*/

    .atalhos {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 980px) {
  .home-bb {
    .atalhos {
      @include flex-justify(space-between);
      padding: 5rem 3rem;
      div {
        width: 9.5rem;
      }
    }
  }
}