@import "../abstract/variables";

.home-bb {
  background-color: $primary-color;
  
  img {
    max-width: 100%;
  }

  .home-banner {
    @include flex-column-justify(space-between);

    background: url(./../images/banner-vr.png) top no-repeat;
    background-size: cover;
    height: 27.75rem;
    padding: 5.5rem 0 0 1rem;

    .home-banner-2 {
      @include flex-column-justify(space-between);
      height: 100%;

      .box-info {
        @include flex-column-justify-align-i(space-between, center);

        text-align: center;
        height: 12.875rem;
        text-shadow: 1rem 1rem 1rem $primary-color;

        h2 {
          color: $light-color;

          span {
            color: $secondary-color;
            font-weight: $fw-light;
          }
        }

        button {
          @include text-color-size-weight($light-color, 1.25rem, $fw-bold);
          @include border($light-color);
    
          background-color: transparent;
          padding: 0.5rem 1rem;
          border-radius: 0.125rem;  
        }
      }
    }

    .visual-components {
      position: relative;
      z-index: 1;

      .bullet-select {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }

  hr {
    border: 0.25rem solid $secondary-color;
  }

  .atalhos {
    @include grid-template-columns(1fr 0fr);

    justify-items: center;
    padding: 5rem 1rem;
    gap: 1.5rem;

    div {
      
      @include flex-column-justify-align-i(center, center);
      @include size-w-h(10.75rem, 8rem);

      background-color: $secondary-color;
      text-align: center;
      border-radius: 0.25rem;
      gap: 0.75rem; 

      img {
        max-width: 3.75rem;
      }
    }
  }

  .arrows {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 396px) {
  .home-bb {
    .atalhos {
      @include flex-column-align-i(center);

      padding: inherit;
      padding: 5rem 0;
    }
  }
}

@media (min-width: 620px) {
  .home-bb {
    .atalhos {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 980px) {
  .home-bb {
    .atalhos {
      @include flex-justify(space-between);
      
      padding: 5rem 3rem;
      
      div {
        width: 9.5rem;
      }
    }
  }
}