@import "../abstract/variables";



.home-bb {
  background-color: $primary-color;
  img {
    max-width: 100%;
  }

  .banner {
    @include flex-column;
    background: url(./../images/banner-vr.png) top no-repeat;
    background-size: cover;
    height: 27.75rem;
    padding: 5.5rem 0 0 1rem;

    .banner-2 {
      @include flex-column;
      height: 100%;

      .box-info {
        @include flex-column;
        height: 12.875rem;
        align-items: center;
        text-align: center;
        text-shadow: 1rem 1rem 1rem $primary-color;

        h2 {
          color: $light-color;

          span {
            color: $secondary-color;
            font-weight: $fw-light;
          }
        }

        button {
          color: $light-color;
          background-color: transparent;
          padding: 0.5rem 1rem;
          border: 1px solid $light-color;
          border-radius: 0.125rem;
          font-weight: $fw-bold;
          font-size: 1.125rem;
        }
      }
    }

    .visual-components {
      position: relative;
      z-index: 1;

      .bullet-select {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }

  hr {
    border: 0.25rem solid $secondary-color;
  }

  .atalhos {
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 1.5rem;
    padding: 5rem 1rem;
    justify-items: center;

    div {
      display: flex;
      flex-direction: column;
      background-color: $secondary-color;
      width: 10.75rem;
      height: 8rem;
      align-items: center;
      text-align: center;
      justify-content: center;
      gap: 0.75rem;
      border-radius: 0.25rem;

      img {
        max-width: 3.75rem;
      }
    }
  }

  .arrows {
    display: none;
  }
}

@media (min-width: 280px) and (max-width: 396px) {
  .home-bb {
    .atalhos {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: inherit;
      padding: 5rem 0;
    }
  }
}

@media (min-width: 620px) {
  .home-bb {
      /*.visual-components {
        .bullet-select {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          gap: 0.9rem;
          top: -179%;
          left: 89%;
        }

        .arrows {
          display: inline-flex;
          justify-content: space-between;
          width: 4rem;
        }
      }*/
    /*}*/

    .atalhos {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 980px) {
  .home-bb {
    .atalhos {
      display: flex;
      padding: 5rem 3rem;
      justify-content: space-between;
      div {
        width: 9.5rem;
      }
    }
  }
}