@import "../abstract/variables";

@mixin div-institucional($url-da-imagem) {
    @include flex-column-justify(space-between);

    background: linear-gradient(0deg, rgba(18, 40, 76, 0.3), rgba(18, 40, 76, 0.3)), url($url-da-imagem) no-repeat top;
    background-size: cover;
    min-width: 21.8rem;
    padding: 4rem 0rem 2.375rem 2rem;

    h5 {
        color: $light-color;
    }

    img {
        max-width: 4rem;
    }
}

.home-institucional {
    width: 100%;

    .cards {
        @include flex-justify(space-between);

        height: 28.125rem;
        overflow-x: scroll;

        .quem-somos {
            @include div-institucional("./../images/quem-somos.png");
        }
    
        .unidades {
            @include div-institucional(("./../images/banner-vr.png"));
        }
    
        .estrategia {
            @include div-institucional("./../images/estrategia.png");
        }
    
        .impacto {
            @include div-institucional("./../images/impacto.png");
        }
    }
 
    .visual-components {
        @include flex-justify-align-i(center, center);

        padding: 1rem;

        .arrow {
            padding: 1.25rem;
        }
    }
}
