$primary-color: #12284C;
$secondary-color: #00ADBB;
$light-color: #fff;
$gray: #F7F7F7; 
$gray-2: #E5E1E6;
$gray-3: #e6e6e6;
$gray-4: #999;
$gray-5: #808080;
$gray-6: #666;
$gray-7: #262626;

$font: 'Inter', sans-serif;
$fw-bold: 700;
$fw-regular: 400;
$fw-light: 300;

//DISPLAY 
    //FLEX

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-justify($justify) {
    
    justify-content: $justify;
}

@mixin flex-column-align-i($align-i) {
    @include flex-column;
    align-items: $align-i;
}

@mixin flex-column-padding($padding) {
    @include flex-column;
    padding: $padding;
}

@mixin flex-column-gap($gap) {
    @include flex-column;
    gap: $gap;
}

@mixin flex-column-justify-align-i($justify, $align-i) {
    @include flex-column;
    justify-content: $justify;
    align-items: $align-i;
}

@mixin flex-justify($justify) {
    display: flex;
    justify-content: $justify;
}

@mixin flex-align-i($align-i) {
    display: flex;
    align-items: $align-i;
}

@mixin flex-justify-align-i($justify, $align-i) {
    display: flex;
    justify-content: $justify;
    align-items: $align-i;
}

    //GRID

@mixin grid-template-columns($t-column){
    display: grid;
    grid-template-columns: $t-column;
}

//TEXTO
@mixin text-color-size($color, $fs) {
    color: $color;
    font-size: $fs;
}

@mixin text-color-size-weight($color, $fs, $fw) {
    @include text-color-size($color, $fs);
    font-weight: $fw;
}

@mixin h4 {
    @include text-color-size-weight($secondary-color, 1.625rem, $fw-bold);
    padding: 0 0 2rem 1.53rem;
}

//SIZE

@mixin size-w-h($w, $h) {
    width: $w;
    height: $h;
}

//BORDER
@mixin border($color) {
    border: 1px solid $color;
}