* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

main {
  overflow-y: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12284C;
  padding: 1.5rem 1rem;
}
header .cotacao-acess {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 2rem;
}
header .cotacao-acess .acess {
  display: none;
}
header .cotacao-acess .cotacao {
  display: none;
}
header .header-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}
header .header-icons img {
  height: 1.25rem;
}
header .header-icons .eua {
  display: none;
}
header .header-icons .search {
  display: none;
}
header .header-icons div {
  cursor: pointer;
}
header .header-icons .icon-burger span {
  width: 1.7rem;
  height: 0.2rem;
  background-color: #00ADBB;
  display: block;
  margin: 0.3rem auto;
  transition: all 0.3s ease-in-out;
}
header .header-icons .icon-burger.active span:nth-child(2) {
  opacity: 0;
}
header .header-icons .icon-burger.active span:nth-child(1) {
  transform: translateY(0.5rem) rotate(45deg);
}
header .header-icons .icon-burger.active span:nth-child(3) {
  transform: translateY(-0.5rem) rotate(-45deg);
}
@media (min-width: 620px) {
  header {
    padding: 1.5rem 2rem;
  }
  header .cotacao-acess .cotacao {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-width: 19rem;
  }
  header .cotacao-acess p {
    color: #fff;
    font-weight: 700;
  }
  header .cotacao-acess p span {
    color: #00ADBB;
  }
  header .header-icons {
    width: 36%;
  }
  header .header-icons .eua {
    display: block;
  }
  header .header-icons .search {
    display: block;
  }
}
@media (min-width: 950px) {
  header .header-icons {
    width: 17rem;
  }
  header .cotacao-acess .acess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 12rem;
    color: #fff;
  }
}

.container-banner {
  position: relative;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.banner img {
  width: 92%;
  border-radius: 0.25rem 0 0 0.25rem;
  z-index: 2;
}

.banner::before {
  width: 100%;
  height: 70%;
  background-color: #12284C;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.textura-bullet {
  width: 58%;
}

@media (min-width: 620px) {
  .banner {
    justify-content: flex-end;
  }
  .textura-bullet {
    width: 30%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #12284C;
  min-height: 9.5rem;
  padding: 1rem;
}
footer .copyright {
  color: #00ADBB;
  font-size: 0.875rem;
  font-weight: 700;
}
footer p {
  color: #fff;
  font-weight: 300;
}
footer a {
  color: #00ADBB;
  font-weight: 700;
}
footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-width: 11rem;
}
footer .separador {
  padding: 0.5rem 0.5rem;
}
@media (min-width: 620px) {
  footer {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    justify-content: space-around;
  }
}
@media (min-width: 950px) {
  footer {
    grid-template-columns: auto auto auto auto;
  }
}

.home-bb {
  background-color: #12284C;
}
.home-bb img {
  max-width: 100%;
}
.home-bb .home-banner {
  justify-content: space-between;
  background: url(./../images/banner-vr.png) top no-repeat;
  background-size: cover;
  height: 27.75rem;
  padding: 5.5rem 0 0 1rem;
}
.home-bb .home-banner .home-banner-2 {
  justify-content: space-between;
  height: 100%;
}
.home-bb .home-banner .home-banner-2 .box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 12.875rem;
  text-shadow: 1rem 1rem 1rem #12284C;
}
.home-bb .home-banner .home-banner-2 .box-info h2 {
  color: #fff;
}
.home-bb .home-banner .home-banner-2 .box-info h2 span {
  color: #00ADBB;
  font-weight: 300;
}
.home-bb .home-banner .home-banner-2 .box-info button {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.125rem;
}
.home-bb .home-banner .visual-components {
  position: relative;
  z-index: 1;
}
.home-bb .home-banner .visual-components .bullet-select {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.home-bb hr {
  border: 0.25rem solid #00ADBB;
}
.home-bb .atalhos {
  display: grid;
  grid-template-columns: 1fr 0fr;
  justify-items: center;
  padding: 5rem 1rem;
  gap: 1.5rem;
}
.home-bb .atalhos div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.75rem;
  height: 8rem;
  background-color: #00ADBB;
  text-align: center;
  border-radius: 0.25rem;
  gap: 0.75rem;
}
.home-bb .atalhos div img {
  max-width: 3.75rem;
}
.home-bb .arrows {
  display: none;
}

@media (min-width: 280px) and (max-width: 396px) {
  .home-bb .atalhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: inherit;
    padding: 5rem 0;
  }
}
@media (min-width: 620px) {
  .home-bb .atalhos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 980px) {
  .home-bb .atalhos {
    display: flex;
    justify-content: space-between;
    padding: 5rem 3rem;
  }
  .home-bb .atalhos div {
    width: 9.5rem;
  }
}
.home-institucional {
  width: 100%;
}
.home-institucional .cards {
  display: flex;
  justify-content: space-between;
  height: 28.125rem;
  overflow-x: scroll;
}
.home-institucional .cards .quem-somos {
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(18, 40, 76, 0.3), rgba(18, 40, 76, 0.3)), url("./../images/quem-somos.png") no-repeat top;
  background-size: cover;
  min-width: 21.8rem;
  padding: 4rem 0rem 2.375rem 2rem;
}
.home-institucional .cards .quem-somos h5 {
  color: #fff;
}
.home-institucional .cards .quem-somos img {
  max-width: 4rem;
}
.home-institucional .cards .unidades {
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(18, 40, 76, 0.3), rgba(18, 40, 76, 0.3)), url("./../images/banner-vr.png") no-repeat top;
  background-size: cover;
  min-width: 21.8rem;
  padding: 4rem 0rem 2.375rem 2rem;
}
.home-institucional .cards .unidades h5 {
  color: #fff;
}
.home-institucional .cards .unidades img {
  max-width: 4rem;
}
.home-institucional .cards .estrategia {
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(18, 40, 76, 0.3), rgba(18, 40, 76, 0.3)), url("./../images/estrategia.png") no-repeat top;
  background-size: cover;
  min-width: 21.8rem;
  padding: 4rem 0rem 2.375rem 2rem;
}
.home-institucional .cards .estrategia h5 {
  color: #fff;
}
.home-institucional .cards .estrategia img {
  max-width: 4rem;
}
.home-institucional .cards .impacto {
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(18, 40, 76, 0.3), rgba(18, 40, 76, 0.3)), url("./../images/impacto.png") no-repeat top;
  background-size: cover;
  min-width: 21.8rem;
  padding: 4rem 0rem 2.375rem 2rem;
}
.home-institucional .cards .impacto h5 {
  color: #fff;
}
.home-institucional .cards .impacto img {
  max-width: 4rem;
}
.home-institucional .visual-components {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.home-institucional .visual-components .arrow {
  padding: 1.25rem;
}

.home-investidores h3 {
  color: #12284C;
  font-size: 1.8rem;
}
.home-investidores h5 {
  color: #12284C;
  font-size: 1.5rem;
}
.home-investidores .central {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-investidores .central .t21 {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 2.5rem 0;
}
.home-investidores .central .t21 h5 {
  padding: 0 2rem;
}
.home-investidores .central .resultados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.home-investidores .central .resultados div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 10.8rem;
}
.home-investidores .central .resultados div img {
  width: 3.2rem;
}
.home-investidores .calendario {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home-investidores .calendario h6 {
  color: #12284C;
  font-size: 1rem;
}
.home-investidores a {
  color: #12284C;
  padding: 2.75rem 0 4.5rem;
}
.home-investidores .eventos {
  padding-top: 2.5rem;
}
.home-investidores .eventos .texto {
  color: #262626;
}
.home-investidores .eventos .hora {
  color: #808080;
  font-size: 0.875rem;
}
.home-investidores .eventos .evento {
  padding: 1rem 0 0.5rem 0;
}
.home-investidores .eventos .evento img {
  padding-right: 1rem;
}
.home-investidores .eventos hr {
  border: 1px solid #e6e6e6;
}
@media (min-width: 280px) and (max-width: 396px) {
  .home-investidores {
    padding: 1.5rem;
  }
  .home-investidores .central .resultados {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 620px) {
  .home-investidores .central .resultados {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 740px) {
  .home-investidores .central .resultados {
    gap: 4rem;
  }
}
@media (min-width: 950px) {
  .home-investidores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
    gap: 2rem;
  }
  .home-investidores .central .resultados {
    gap: 1rem;
  }
  .home-investidores .calendario {
    padding: 0 0;
  }
}

.central-section {
  justify-content: center;
}
.central-section .tabela {
  width: 100%;
  overflow-x: scroll;
}
.central-section .tabela table {
  border-collapse: collapse;
}
.central-section .tabela table thead {
  color: #fff;
  font-size: 1.18rem;
  font-weight: 700;
  background-color: #12284C;
  height: 2rem;
}
.central-section .tabela table thead th {
  padding: 0 0.5rem;
  border: none;
}
.central-section .tabela table thead th:first-child {
  text-align: left;
  padding-right: 1rem;
}
.central-section .tabela table thead th:not(:first-child) {
  padding: 0 2rem;
}
.central-section .tabela table tbody td {
  padding: 1rem 0;
  border-bottom: 1px solid #E5E1E6;
}
.central-section .tabela table td {
  white-space: nowrap;
}
.central-section .tabela table td:first-child {
  padding-right: 1rem;
}
.central-section .tabela table td:not(:first-child) {
  text-align: center;
}
.central-section .clique-aqui {
  display: inline-flex;
  align-items: flex-start;
  padding-top: 2rem;
}
.central-section .clique-aqui img {
  padding-right: 0.5rem;
}
@media (min-width: 620px) {
  .central-section {
    display: flex;
    align-items: center;
  }
}

.apresentacoes-section .apresentacoes-lista .lista {
  margin-bottom: 2.5rem;
}
.apresentacoes-section .apresentacoes-lista .lista .date {
  color: #808080;
}
.apresentacoes-section .apresentacoes-lista .lista .item {
  display: flex;
  justify-content: space-between;
}
.apresentacoes-section .apresentacoes-lista .lista .item p {
  color: #262626;
  padding-right: 2rem;
}
.apresentacoes-section .apresentacoes-lista .lista hr {
  border: 1px solid #e6e6e6;
  margin: 1rem 0;
}
@media (min-width: 620px) {
  .apresentacoes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.esg-section .title {
  padding: 0 1rem 2.5rem;
}
.esg-section .esg-div .intro {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 0 1rem 4.5rem 1rem;
}
.esg-section .esg-div .intro .intro-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #262626;
  line-height: 1.5rem;
}
.esg-section .esg-div .intro .intro-milhoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}
.esg-section .esg-div .intro .intro-milhoes div p:first-child {
  color: #12284C;
  font-size: 1.8175rem;
  font-weight: 700;
}
.esg-section .esg-div .intro .intro-milhoes div p:first-child span {
  color: #00ADBB;
  font-size: 3.5rem;
}
.esg-section .esg-div .intro .intro-milhoes div p:not(:first-child) {
  color: #262626;
}

.esg-section {
  padding: 0 0;
}
.esg-section .esg-div .compromissos {
  background-color: #12284C;
  padding: 4rem 0;
}
.esg-section .esg-div .compromissos h4 {
  color: #00ADBB;
  font-size: 1.625rem;
  font-weight: 700;
  padding: 0 0 2rem 1.53rem;
}
.esg-section .esg-div .compromissos .imgs-painels {
  position: relative;
  width: 95%;
  overflow-x: hidden;
}
.esg-section .esg-div .compromissos .imgs-painels hr {
  border: 1px solid #00ADBB;
  position: absolute;
  bottom: 3px;
  width: 100%;
  margin: 0 1rem;
}
.esg-section .esg-div .compromissos h5 {
  color: #00ADBB;
  font-size: 1.5rem;
  padding: 2.75rem 0 1.5rem 1.5rem;
}
.esg-section .esg-div .compromissos .ambiental .text-block {
  padding-bottom: 2rem;
}
.esg-section .esg-div .compromissos .social .text-block {
  padding-bottom: 3.5rem;
}
.esg-section .esg-div .compromissos .social .div-img-hr {
  padding-bottom: 1.75rem;
}
.esg-section .esg-div .compromissos .div-img-hr {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}
.esg-section .esg-div .compromissos .div-img-hr hr {
  border: 1px solid #00ADBB;
  bottom: 3px;
  width: 100%;
}
.esg-section .esg-div .compromissos .text-block {
  display: flex;
  flex-direction: column;
  padding: 0 1.53rem;
  gap: 1.5rem;
  color: #fff;
}

.esg-section .esg-div h4 {
  color: #00ADBB;
  font-size: 1.625rem;
  font-weight: 700;
  padding: 0 0 2rem 1.53rem;
}
.esg-section .esg-div .indices-ratings {
  padding: 4rem 1.5rem 0 1.5rem;
}

.bread-scrum {
  color: #999;
  font-size: 0.875rem;
  padding: 1.5rem 1rem 0.5rem 1rem;
}

.title {
  color: #12284C;
  font-size: 1.8rem;
  font-weight: 400;
}

section {
  padding: 0 1rem;
}
section .title {
  padding-bottom: 2.5rem;
}
section .filtrar {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 0.875rem;
}
section .filtrar label {
  color: #666;
}
section .filtrar select {
  width: 6.625rem;
  height: 1.75rem;
  padding-left: 0.5rem;
  color: #999;
}

.compartilhar {
  justify-content: center;
  height: 8.5rem;
  padding: 0 1rem;
}
.compartilhar div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.compartilhar hr {
  border: 1px solid #e6e6e6;
  margin-bottom: 1rem;
}

.botoes-numerados {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.botoes-numerados button {
  padding: 0.5rem 0.9rem;
  border: none;
  border-radius: 2px;
}
.botoes-numerados button:first-child {
  background-color: #12284C;
  color: #fff;
}
.botoes-numerados button:not(:first-child) {
  background-color: #F7F7F7;
  color: #808080;
}/*# sourceMappingURL=style.css.map */