@import "./abstract/base";
@import "./abstract/variables";

@import "./components/header";
@import "./components/containerBanner";
@import "./components/footer";

@import "./components/homeBb";  
@import "./components/homeInstitucional";
@import "./components/homeInvestidores";
@import "./components/centralCentral";
@import "./components/apresentacoesLista";
@import "./components/esgIntro";
@import "./components/esgCompromissos";
@import "./components/esgIndicesRatings";


.bread-scrum {
    @include text-color-size($gray-4, 0.875rem);
    
    padding: 1.5rem 1rem 0.5rem 1rem;
}

.title {
    @include text-color-size-weight($primary-color, 1.8rem, $fw-regular);
}

section {
    padding: 0 1rem;

    .title {
        padding-bottom: 2.5rem;
    }

    .filtrar {
        text-align: center;
        padding-bottom: 1.5rem;
        font-size: 0.875rem;
    
        label {
            color: $gray-6;
        }
    
        select {
            @include size-w-h(6.625rem, 1.75rem);

            padding-left: 0.5rem;
            color: $gray-4;            
        }
    }
}

.compartilhar {
    @include flex-column-justify(center);

    height: 8.5rem;
    padding: 0 1rem;
    
    div {
        display: flex;
        align-items: center;
        gap: 0.7rem;
    }

    hr {
        @include border($gray-3);

        margin-bottom: 1rem;
    }
}   

.botoes-numerados {
    @include flex-justify(center);

    gap: 0.5rem;
    
    button {
        padding: 0.5rem 0.9rem;
        border: none;
        border-radius: 2px;

        &:first-child {
            background-color: $primary-color;
            color: $light-color;
        }

        &:not(:first-child) {
            background-color: $gray;
            color: $gray-5;            
        }
    }
}

@media (min-width: 740px) {
    .compartilhar {
        padding: 0 9%;
    }
}