$primary-azul-escuro: #12284C;
$primary-azul-claro: #00ADBB;

$fonte-1: Helvetica, Arial, sans-serif;
$fonte-2: 'Inter', sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*html {
    font-size: ;
}*/